@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .content .left-side{
    width: 25%;
    height: 100%;
}
.content .left-side .details{
    margin: 14px;
    text-align: center;
}
.container.content .right-side{
    width: 75%;
    margin-left: 7px;
}
.content .left-side .details i{
    margin: 14px;
    text-align: center;
}